.joke_title {
    width: 600px;
    height: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.css_btn_class {
    font-size: 14px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #dcdcdc;
    padding: 4px 16px;
    text-decoration: none;
    background-color: #ededed;
    color: #777777;
    display: inline-block;
    text-shadow: 1px 1px 0px #ffffff;
    box-shadow: inset 1px 1px 0px 0px #ffffff;
}

.css_btn_class:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeaf41', endColorstr='#ffce79');
    background-color: #dfdfdf;
}

.css_btn_class:active {
    position: relative;
    top: 1px;
}

