body {
    background-color: #F6F6F6;
}

.header {
    height: 50px;
    background-color: white;
    border: 1px solid #ddd;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.header-center {
    width: 900px;
    height: 50px;
    margin: 0 auto;
    position: relative;
}

.header_user_login {
    display: inline-block;
    float: right;
    margin-right: 10px;
}

.header_user_login span {
    cursor: pointer;
    font-size: 14px;
    color: #D5B867;
}

.user_login {
    line-height: 50px;
    padding-right: 5px;
    border-right: 0.5px solid #D5B867;
}

.user_regist {
    line-height: 50px
}

.header-user {
    cursor: pointer;
    float: right;
    display: inline-block;
}

.header-logo {
    display: inline-block;
}

.header-logo span {
    line-height: 50px;
    margin-left: 20px;
}

.header-user img {
    width: 40px;
    height: 40px;
    margin-right: 6px;
    border: 1px #ddd solid;
}

.header-user span {
    line-height: 50px;
    margin-right: 10px;
}

.user_info_dialog {
    width: 120px;
    height: 100px;
    background-color: white;
    position: absolute;
    right: -30px;
    top: 48px;
    border: 0.5px solid #eee;
    padding: 0 12px;
    display: none;
}

.user_info_ul > li {
    line-height: 40px;
    cursor: pointer;
    text-align: left;
}

.user_info_ul li img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.user_info_ul a:hover {
    text-decoration: none;
}

.banner {
    width: 800px;
    height: 320px;
    background-color: white;
    position: relative;
    padding: 10px;
    margin: 50px auto 10px auto;
}

.banner img {
    width: 600px;
    height: 320px;
    position: absolute;
}

@keyframes imgAlpha {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }

}

.hide-banner-img {
    display: none;
}

.show-banner-img {
    display: block;
    /*animation: imgAlpha 1s;*/
}

.banner-box {
    position: absolute;
    bottom: 0;
    right: 300px;
    z-index: 2;
}

.banner-box li {
    width: 10px;
    margin-left: 6px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
}

.banner-box-bg {
    background: #ddd;
}

.banner-box-select {
    background: #D5B867;
}

.joke-list {
    width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 10px;
}

.joke-item {
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 0.5px solid #eee;
}

.joke-author {
    float: right;
    color: #555;
    font-size: 14px;
}

.joke-content {
    margin-bottom: 10px;
    min-height: 60px;;
    color: #6A6868;
}

.joke-author-icon-root {
    display: inline-block;
    position: relative;
}

.joke-author-icon {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    padding: 0;
    border: 1px solid #ddd;
    margin-right: 6px;
    cursor: pointer;
}

.joke-author-dialog {
    width: 200px;
    height: 100px;
    display: none;
    position: absolute;
    margin-top: 15px;
    border-left: 0.5px solid #eee;
    border-right: 0.5px solid #eee;
    border-bottom: 0.5px solid #eee;
    background-color: white;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
}

.joke-author-dialog img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
    top: -15px;
}

.author-dialog-name {
    color: #333;
    font-size: 16px;
    margin-left: 50px;
    font-weight: bolder;
}

.author-dialog-say {
    color: #555;
    font-size: 14px;
    margin-top: 10px;
}

.joke-dialog-line {
    height: 1px;
    background-color: #eee;
    margin-top: 12px;
    margin-bottom: 5px;
}

.joke-title {
    font-size: 20px;
    color: #333;
    font-weight: bold;
}

.joke-date {
    float: right;
    font-size: 14px;
    color: #A0A6A5;
}

.helpful {
    color: #A0A6A5;
    vertical-align: middle;
    text-align: center;
    margin-right: 6px;
    cursor: pointer;
}

.helpful img {
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

.reply_root {
    display: none;
    padding: 12px 0;
}

.reply_joke {
    width: 760px;
    min-height: 50px;
    outline: 0.5px solid #eee;
}

.reply_btn_root {
    height: 30px;
    padding: 10px 0;
}

.reply_joke_btn {
    height: 30px;
    width: 50px;
    margin-right: 20px;
    float: right;
}

.pagination {
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

/*>li第一代li 不加>是所有后代li*/
.pagination > li {
    display: inline;
}

.joke_commentor_img {
    width: 28px;
    height: 28px;
    vertical-align: top;
    border-radius: 50%;
}

.joke_commentor_name {
    color: #333;
    font-size: 14px;
    font-weight: bolder;
}

.joke_comment_first_div {
    height: 36px;
    background: #fafafa;
    padding: 0 10px;
}

.joke_comment_first {
    color: #333;
    font-size: 14px;
    font-weight: bold;
    line-height: 36px;
}

.joke_comment_root {
    padding: 5px 10px;
}

.joke_comment_ul {
    padding: 10px 0;
}

.joke_comment_ul > li {
    margin: 0 10px;
    padding: 20px 0;
    border-bottom: 0.5px solid #eee;
}

.joke_comment_details {
    width: 680px;
    margin-left: 10px;
    display: inline-block;
}

.joke_commentor_date {
    font-size: 14px;
    color: #A0A6A5;
    float: right;
}

.joke_item_left {
    display: inline-block;
    vertical-align: top;
}

.joke_item_left img {
    width: 160px;
    height: 100px;
}

.joke_item_right {
    width: 600px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
}

.joke_item_details_root {
    margin-top: 10px;
}

