<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" href="../plugin/layui/src/css/layui.css">
    <style type="text/css">
        .title {
            width: 400px;
            height: 30px;
            padding-left: 10px;
            padding-right: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 14px;
        }
    </style>
</head>
<body>
<input id='title' type="text" name="" class="title" placeholder="请输入标题.."/>
<textarea class="layui-textarea" id="add_joke_lay" style="display: none">
 请输入..
</textarea>

<div class="site-button" style="margin-top: 20px;">
    <button class="layui-btn site-demo-layedit" data-type="report">发布</button>
    <button class="layui-btn site-demo-layedit" data-type="reset">重置</button>
</div>

<script type="text/javascript" src="../plugin/layui/src/layui.js"></script>

<script>
    layui.use('layedit', function () {
        var layedit = layui.layedit, $ = layui.jquery;
        layedit.set({
            uploadImage: {
                url: '/wcdog/img/upImage' //接口url
            }
        })

        //构建一个默认的编辑器
        var index = layedit.build('add_joke_lay', {height: 360});

        //编辑器外部操作
        var active = {
            content: function () {
                alert(layedit.getContent(index)); //获取编辑器内容
            }
            , text: function () {
                alert(layedit.getText(index)); //获取编辑器纯文本内容
            }
            , selection: function () {
                alert(layedit.getSelection(index));
            }
            , report: function () {
                var str1 = title.value.replace(/(^\s*)|(\s*$)/g, '');//去除空格;
                var str2 = layedit.getContent(index).replace(/(^\s*)|(\s*$)/g, '');
                if (str1 === '' || str1 === undefined || str1 === null) {
                    alert('请输入标题');
                    return;
                }
                if (str2 === '' || str2 === undefined || str2 === null) {
                    alert('请输入内容');
                    return;
                }

                var temp = layedit.getContent(index);
                var content = temp.length > 200 ? temp.substring(0, 200) + '...' : temp;

                $.ajax({
                    type: 'post',
                    url: '/wcdog/joke/add',
                    dataType: 'json',
                    data: "title=" + title.value + "&content=" + content + "&contentHtml=" + layedit.getText(index) + "&jokeUserId=" + "1",
                    success: function (data) {
                        layer.msg('发布成功');
                    },
                    error: function () {
                        console.log(layedit.getContent(index));
                        layer.msg('发布失败');
                    }
                });
            }
            , reset: function () {
                $('#LAY_layedit_1').contents().find('body').html('');
                title.value = '';
            }
        };

        $('.site-demo-layedit').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //自定义工具栏
        layedit.build('LAY_demo2', {
            tool: ['face', 'link', 'unlink', '|', 'left', 'center', 'right']
            , height: 100
        })
    });
</script>

</body>
</html>