<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" href="../plugin/layui/src/css/layui.css">
</head>
<body>
<div class="layui-btn-group demoTable">
    <button class="layui-btn" data-type="isAll">批量删除</button>
</div>

<table id="commentTb" lay-filter="andone"></table>

<script type="text/javascript" src="../plugin/layui/src/layui.js"></script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    layui.use('table', function () {
        var table = layui.table;
        table.render({
            elem: '#commentTb'
            , width: 800
            , height: 400
            , url: '/wcdog/joke/comment/list' //数据接口
            , page: true //开启分页
            , where: {jokeId: parent.jokeId}
            , request: {pageName: 'page', limitName: 'row'}
            , response: {
                statusName: 'code'
                , msgName: 'msg'
                , countName: 'total'
                , dataName: 'data'
            }
            , cols: [[ //表头
                {type: 'checkbox', fixed: 'left'}
                , {field: 'commentUserId', title: '评论者ID', width: 120}
                , {field: 'commentNick', title: '评论者昵称', width: 120}
                , {field: 'commentDetails', title: '评论详情', width: 200}
                , {field: 'commentDate', title: '评论时间', width: 140}
                , {fixed: 'right', width: 180, align: 'center', toolbar: '#barDemo'}
            ]]
        });
    });
</script>

<script>
    layui.use('table', function () {
        var table = layui.table;
        //监听表格复选框选择
        table.on('checkbox(andone)', function (obj) {
            console.log(obj.data);
        });
        //监听工具条
        table.on('tool(andone)',
            function (obj) {
                var data = obj.data;
                if (obj.event === 'detail') {
                    layer.msg('ID：' + data.joke_user_nick + ' 的查看操作');
                } else if (obj.event === 'del') {
                    layer.confirm('真的删除这条评论?', function (index) {
                        $.ajax({
                            type: 'post',
                            url: '/wcdog/joke/comment/delete',
                            dataType: 'json',
                            data: "commentId=" + data.commentId,
                            success: function (data) {
                                obj.del();
                                layer.msg('删除成功');
                            },
                            error: function () {
                                layer.msg('删除失败');
                            }
                        });

                        layer.close(index);
                    });
                } else if (obj.event === 'edit') {
                    layer.alert('编辑行：<br>' + JSON.stringify(data))
                }
            });

        var $ = layui.$, active = {
            isAll: function () { //验证是否全选
                var checkStatus = table.checkStatus('idTest');
                layer.msg(checkStatus.isAll ? '全选' : '未全选')
            }
        };

        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>

</body>
</html>