<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> -->
<mapper namespace="com.xandone.wcdog.mapper.AdminMapper">
    <resultMap id="userBean" type="com.xandone.wcdog.pojo.UserBean">
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="user_icon" property="userIcon" jdbcType="VARCHAR"/>
        <result column="token" property="token" jdbcType="VARCHAR"/>
        <result column="regist_time" property="registTime" jdbcType="TIMESTAMP"/>
        <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP"/>
        <result column="banned" property="banned" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="adminBean" type="com.xandone.wcdog.pojo.AdminBean">
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
        <result column="admin_id" property="adminId" jdbcType="VARCHAR"/>
        <result column="admin_icon" property="adminIcon" jdbcType="VARCHAR"/>
        <result column="permission" property="permission" jdbcType="VARCHAR"/>
        <result column="token" property="token" jdbcType="VARCHAR"/>
        <result column="regist_time" property="registTime" jdbcType="TIMESTAMP"/>
        <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <insert id="addAdmin" parameterType="com.xandone.wcdog.pojo.AdminBean">
        insert into y_admin
        (name,password,nickname,admin_id,regist_time) values
        (#{name},#{password},#{nickname},#{adminId},#{registTime})
    </insert>

    <select id="getAdminByName" parameterType="java.lang.String"
            resultMap="adminBean">
        select * from y_admin where name = #{name}
    </select>

    <update id="updateAdmin" parameterType="com.xandone.wcdog.pojo.AdminBean">
        update y_admin
        <set>
            <if test="name != null">name = #{name,jdbcType=VARCHAR},</if>
            <if test="password != null">password = #{password,jdbcType=VARCHAR},</if>
            <if test="nickname != null">nickname = #{nickname,jdbcType=VARCHAR},</if>
            <if test="adminId != null">admin_id = #{adminId,jdbcType=VARCHAR},</if>
            <if test="adminIcon != null">admin_icon = #{adminIcon,jdbcType=VARCHAR},</if>
            <if test="permission != null">permission = #{permission,jdbcType=VARCHAR},</if>
            <if test="token != null">token = #{token,jdbcType=VARCHAR},</if>
            <if test="registTime != null">regist_time = #{registTime,jdbcType=TIMESTAMP},</if>
            <if test="lastLoginTime != null">last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},</if>
        </set>
        where admin_id = #{adminId}
    </update>

    <select id="getUserList" resultMap="userBean">
        select * from y_user order by id desc
    </select>

    <delete id="deleteUserById">
        delete from y_user where user_id= #{userId};
    </delete>

    <delete id="deleteUserByList" parameterType="java.util.List">
        delete from y_user where user_id IN
        <foreach collection="list" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>

    <select id="searchUserList" parameterType="com.xandone.wcdog.pojo.UserBean" resultMap="userBean">
        select * from y_user
        <where>
            <if test="name!=null">
                name=#{name}
            </if>
            <if test="userId!=null">
                and user_id =#{userId}
            </if>
            <if test="nickname!=null">
                and nickname=#{nickname}
            </if>
        </where>
        order by id desc
    </select>

    <update id="updateUserByBean" parameterType="com.xandone.wcdog.pojo.UserBean">
        update y_user
        <set>
            <if test="name != null">name = #{name,jdbcType=VARCHAR},</if>
            <if test="password != null">password = #{password,jdbcType=VARCHAR},</if>
            <if test="nickname != null">nickname = #{nickname,jdbcType=VARCHAR},</if>
            <if test="userId != null">user_id = #{userId,jdbcType=VARCHAR},</if>
            <if test="userIcon != null">user_icon = #{userIcon,jdbcType=VARCHAR},</if>
            <if test="talk != null">talk = #{talk,jdbcType=VARCHAR},</if>
            <if test="address != null">address = #{address,jdbcType=VARCHAR},</if>
            <if test="token != null">token = #{token,jdbcType=VARCHAR},</if>
            <if test="registTime != null">regist_time = #{registTime,jdbcType=TIMESTAMP},</if>
            <if test="lastLoginTime != null">last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},</if>
            <if test="banned != null">banned = #{banned,jdbcType=INTEGER},</if>
        </set>
        where user_id = #{userId}
    </update>

    <select id="getAdminCount" resultType="java.lang.Integer">
        select count(*) from y_admin
    </select>

    <select id="getCommentCount" resultType="java.lang.Integer">
        select count(*) from y_joke_comment
    </select>

    <select id="getThumbCount" resultType="java.lang.Integer">
        select count(*) from y_joke_like
    </select>

    <select id="getUserCount" resultType="java.lang.Integer">
        select count(*) from y_user
    </select>

    <select id="getJokeCount" resultType="java.lang.Integer">
        select count(*) from y_joke
    </select>


</mapper>